*{
	color: gray;
}
html{
	height: 100%;
	margin: 0;
}
#loginbody{
	height: 100%;
	margin: 0;
	background: rgba(0,0,0,0);
}
#myborder{
	/*border: 1px solid gray;*/
	width: 300px;
	height: 80px;
	margin-top: 100px;
	margin-left: 100px;
}
.innerdiv{
	/*border: 1px solid gray;*/
	width: fit-content;
	height: 30px;
	margin: 5px auto;
	text-align: 30px;
}
.prompt{
	float: left;
	/*width: fit-content;*/
	width: 70px;
	text-align: right;
	display: inline-block;
}
#btns{
	/*border: 1px solid gray;*/
	height: 25px;
	width: 300px;
	margin-top: 2px;
	margin-left: 100px;
}
.labels{
	float: left;
	width: 70px;
	text-align: right;
	height: 28px;
	line-height: 20px;
}
.inputs{
	float: left;
	width: 200px;
	background: rgba(0,0,0,0);
	border: 1px solid white;
	margin-top: -3px;
}
.inputbtn{
	margin-left: 100px;
}
#loginform{
	margin-left: 350px;
}