*{
	font-size: 10pt;

}
html{
	height: 100%;
	z-index: -9999;
	margin: 0;
}
#register_body{
	background-color: transparent;
	z-index: -99;
}
#left_div{
	height: 100%;
	width: 25%;
	border: 1px solid gray;
	float: left;
}
#right_div{
	height: 100%;
	width: 400px;
	border: 1px solid gray;
	float: left;
}
#managedir{
	height: 50px;
	width: 100%;
	border: 1px solid gray;
	line-height: 50px;
	text-align: center;
	background: #EAEAEA;
}
#img{
	width: 25px;
	height: 25px;
	margin-top: 5px;
}
#dir{
	width: 100%;
}
#dirul{
	width: 100%;
}
.dirli{
	list-style: none;
	height: 30px;
	width: 100%;
	border: 1px solid gray;
	text-align: center;
	margin-left: -40px;
}
.dirimg{
	width: 25px;
	height: 25px;
}
.right_div_sub1{
	border: 1px solid gray;
	height: 30px;
	width: 55%;
	margin: 10px auto;
}
.labels{
	border: 1px solid gray;
	height: 25px;
	width: fit-content;
	text-align:right;
	float: left;
	line-height: 25px;
	margin: auto,0px;
}
.inputs{
	float: left;
	width: 70%;
	height: 27px;
}
#gender{
	border: 1px solid gray;
	float: left;
	height: 10px;
}
.formsex{
	float: left;
	margin-top: 2px;
}
#headerset{
	border: 1px solid gray;
	height: 100px;
	width: 55%;
	margin: 2px auto;
}
